#container {
    display: flex;
    /* Optional styles for the container */
    width: 100%;
}

#infodiv, #artdiv {
    /* Optional styles for the divs */
    border: 1px;
    padding: 10px;
    box-sizing: border-box;
}

#artdiv {
 /* This allows the left div to grow and take available space */
    padding-left: 10%;
    width: 50%;
}

#infodiv {
    justify-content: center; /* Center the content (image) horizontally */
    padding-right: 30%;
    padding-left: 10%;

}

    #infodiv img {
        /* Optional styles for the image */
        max-width: 100%;
        max-height: 100%;
    }
